.topNavbar{
    margin: 0px; 
}
.navbar{
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,6%);
    padding: 4px;
    height: 90px;
}
.container {
display:block;
cursor: pointer;
}

.bar1, .bar2, .bar3 {
width: 23px;
height: 2px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
margin-left: 80px;
margin-right: 80px;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}
.input-group button{
background-color:transparent;
border:none;
border-radius: 4px;
margin-left: -31px;
} 
.input-group input{
border-radius: 40px;
border-color: transparent;
background-color: whitesmoke;
margin-left: -460px;
height: 40px;
width: 250px;
}
.navbar-nav i{

margin: 20px;
}
.wrapper {
width: 100%;
min-height: 675px;
max-height: 675px;
}

#sidebar {
min-width: 270px;
max-width: 270px;
background: white;
color: black;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; 
box-shadow: 0px 0px 6px 5px rgba(0,0,0,6%)
}
#sidebar.active {
min-width: 125px;
max-width: 125px;
text-align: center; }
#sidebar.active ul.components li {
  font-size: 14px; }
  #sidebar.active ul.components li a {
    padding: 10px 0;
 }
    #sidebar.active ul.components li a span {
      margin-right: 0;
      display: block;
      font-size: 24px; }
#sidebar.active .logo {
  padding: 10px 0; }


#sidebar ul.components {
padding: 0;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }
#sidebar ul li {
font-size: 16px; }
#sidebar ul li > ul {
  margin-left: 10px; }
  #sidebar ul li > ul li {
    font-size: 14px; }
#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  #sidebar ul li a span {
    margin-right: 15px; }
    @media (max-width: 991.98px) {
      #sidebar ul li a span {
        display: block; } }
  #sidebar ul li a:hover {
      text-decoration: none;
    color: purple; }
#sidebar ul li.active > a {
  background: transparent;
  color: purple; }
@media (max-width: 991.98px) {
#sidebar {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  margin-left: -80px !important; }
  #sidebar.active {
    margin-left: 0 !important; } }

a[data-toggle="collapse"] {
position: relative; }

.dropdown-toggle::after {
display: block;
position: absolute;
top: 50%;
right: 0;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%); }

@media (max-width: 991.98px) {
#sidebarCollapse span {
display: none; } }



#content {
width: 100%;
padding: 0;
min-height: 100vh;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; }

.btn.btn-primary {
background: white;
border-color: white; }
.btn.btn-primary:hover, .btn.btn-primary:focus {
background: white !important;
border-color: white !important; }

 aside{
    width: 215px;
    height: 135px;
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,6%);
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.box1 p{
  align-items: center; 
  font-size:15px;
  margin-bottom: 10px;
}
.box1 i{
  font-size:40px ;margin-top: 20px;color: purple;
}
#main {
display: flex;
flex-wrap: wrap;
}
#table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
margin-left: 10px;
height: auto;
}

#table #td, #th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
#user{
height: 70px;
width: 70px;
border-radius: 10%;
filter: grayscale(100%);
display: block;
margin-right: 15px;
}
#foll {
border-radius: 15px;
border-style: 1px groove;
border-color: black;
height: 35px;
background-color: transparent;
}